<body>
    <section class="inpu">
        <p>Ingresar numero1: <input [(ngModel)]="num1" type="number"></p>
        <p>Ingresar numero2: <input [(ngModel)]="num2" type="number"></p>
                <p>
                    <select [(ngModel)]="op">
                    <option value="ninguno">Seleccionar Operacion matematica</option>
                    <option value="suma">Sumar numeros</option>
                    <option value="resta">Restar numeros</option>
                    <option value="multi">Multiplicar numeros</option>
                    <option value="div">Dividir numeros</option>
                    </select>
                </p>
    </section>
    <section class="respuesta">
        <p>Mostrar Resultado</p>
            <span [ngSwitch]="op">
            <span *ngSwitchCase="'suma'" [ngStyle] = "{'color': 'yellow'}">{{num1}} + {{num2}} = {{num1 + num2}}</span>
            <span *ngSwitchCase="'resta'" [ngStyle] = "{'color': 'green'}">{{num1}} - {{num2}} = {{num1 - num2}}</span>
            <span *ngSwitchCase="'multi'" [ngStyle] = "{'color': 'orange'}">{{num1}} * {{num2}} = {{num1 * num2}}</span>
            <span *ngSwitchCase="'div'" [ngStyle] = "{'color': 'blue'}">{{num1}} / {{num2}} = {{num1 / num2}}</span>
            <span *ngSwitchDefault="" [ngStyle] = "{'color': 'red'}" >Resultado: No eligio operación</span>
            </span>
    </section>
    
            
</body>
